<table>
	<tbody>
		<tr>
			<td>Non required string:</td>
			<td>$string_non_required</td>
		</tr>
		<tr>
			<td>Required string:</td>
			<td>$string_required</td>
		</tr>
		<tr>
			<td>Email:</td>
			<td>$email</td>
		</tr>
		<tr>
			<td>Boolean:</td>
			<td>$boolean</td>
		</tr>
		<tr>
			<td>Integer:</td>
			<td>$integer</td>
		</tr>
		<tr>
			<td>Enum choice:</td>
			<td>$enum_choice</td>
		</tr>
		<tr>
			<td>Boolean choice:</td>
			<td>$boolean_choice</td>
		</tr>
		<tr>
			<td>Date range:</td>
			<td>$date_range</td>
		</tr>
		<tr>
			<td>User list:</td>
			<td>$user_list</td>
		</tr>
		<tr>
			<td colspan="2">Wiki:</td>
		</tr>
		<tr>
			<td colspan="2">$markup</td>
		</tr>
	</tbody>
</table>
